:root {
    --color-white: rgb(255, 255, 255);
    --color-font-dark-green: #274820;
    --color-font: black;
    --color-font-green: rgb(67, 121, 55);
    --color-body: #94e6d5d2;
    --color-light-blue: #6495ed;
}

fieldset {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-white);
    margin: auto;
    width: 50%;
}

legend {
    font-size: 2rem;
    color: var(--color-light-blue);
}

.user {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;

}

h1 {
    font-size: 2rem;
    color: var(--color-font);
    margin-bottom: 1.2rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid var(--color-font-dark-green);
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 20px;
    background: var(--color-white);
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    margin-bottom: 2.5rem;
    outline: none;
    border: none;
    width: 90%;
    color: var(--color-font);
    cursor: pointer;
    background: var(--color-light-blue);
    outline: 2px solid var(--color-light-blue);
    outline-offset: 2px;
}

button:hover {
    background: var(--color-body);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}